<div class="row clearfix" ng-if="main.dashboard=='acc'">
    <div class="col-md-12 column">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="panel-title">
                    Accounts
                </span>
                <div class="btn-group pull-right widget-header-action">
                    <button class="btn btn-default" type="button" ng-click="main.dashboard='dashboard'"><em class="glyphicon glyphicon-home"></em> </button>
                </div>
                
                
                <div class="pull-right">
                    <form role="form" class="form-inline form-filter">
                        <div class="form-group">
                            <select  name="filter" value="filter" class="form-control">
                               <option value="filter1">filter1</option>
                               <option value="1">First</option>
                               <option value="2">Second</option>
                               <option value="3">Third</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select  name="filters" value="filters" class="form-control">
                               <option value="filter2">filter2</option>
                               <option value="1">First</option>
                               <option value="2">Second</option>
                               <option value="3">Third</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="date">
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="date">
                        </div>
                    </form>
                </div>
            </div>
        </div>
            
            <div class="panel-body">
                <div class="row clearfix">
                    <div class="col-md-6 column">
                        <div class="panel panel-info">
                            <div  class="panel-heading">
                                <span class="panel-title">
                                    Order
                                </span>
                            </div>
                            <div  class="panel-body">
                                <div class="list-group">
                                    <a href="" class="list-group-item"><span class="badge">12</span>Due Today</a>
                                    <a href="" class="list-group-item"><span class="badge">7</span>SLA Breached</a>
                                    <a href="" class="list-group-item"><span class="badge">107</span>New Orders</a>
                                    <a href="" class="list-group-item"><span class="badge">23</span>Cancelled Orders</a>
                                    <a href="" class="list-group-item"><span class="badge">98</span>Shipped Orders</a>                   
                                    <a href="" class="list-group-item"><span class="badge">98</span>Ready For Shipping</a>                    
                                    <a href="" class="list-group-item"><span class="badge">98</span>Open Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 column">
                        <div class="panel panel-info">
                            <div  class="panel-heading">
                                <span class="panel-title">
                                    Order
                                </span>
                            </div>
                            <div  class="panel-body">
                                <div class="list-group">
                                    <a href="" class="list-group-item"><span class="badge">12</span>Due Today</a>
                                    <a href="" class="list-group-item"><span class="badge">7</span>SLA Breached</a>
                                    <a href="" class="list-group-item"><span class="badge">107</span>New Orders</a>
                                    <a href="" class="list-group-item"><span class="badge">23</span>Cancelled Orders</a>
                                    <a href="" class="list-group-item"><span class="badge">98</span>Shipped Orders</a>                   
                                    <a href="" class="list-group-item"><span class="badge">98</span>Ready For Shipping</a>                    
                                    <a href="" class="list-group-item"><span class="badge">98</span>Open Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>