<div class="row clearfix" ng-if="main.dashboard=='rep'">
    <div class="col-md-12 column">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="panel-title">
                    Returns And Replacements
                </span>
                <div class="btn-group pull-right widget-header-action">
                    <button class="btn btn-default" type="button" ng-click="main.dashboard='dashboard'"><em class="glyphicon glyphicon-home"></em> </button>
                </div>
                
                
        <div class="pull-right">
            <form role="form" class="form-inline form-filter">
                <div class="form-group">
                    <select  name="filter" value="filter" class="form-control">
                       <option value="filter1">filter1</option>
                       <option value="1">First</option>
                       <option value="2">Second</option>
                       <option value="3">Third</option>
                    </select>
				</div>
                <div class="form-group">
                    <select  name="filters" value="filters" class="form-control">
                       <option value="filter2">filter2</option>
                       <option value="1">First</option>
                       <option value="2">Second</option>
                       <option value="3">Third</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <input class="form-control" type="date">
                </div>
               
                <div class="form-group">
                    <input class="form-control" type="date">
                </div>
            </form>
        </div>
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                </div>
            </div>
            <div class="panel-body">
                <div class="panel-group" role="tablist" aria-multiselectable="true" style="margin-bottom: 0px">
                  <div class="panel panel-info">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="/#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Product #1
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body">
                        <table class="table" style="margin-bottom: 0px">
                            <thead>
                                <tr>
                                    <th>
                                        Order ID
                                    </th>
                                    <th>
                                        Channel
                                    </th>
                                    <th>
                                        Product Details
                                    </th>
                                    <th>
                                        Due On
                                    </th>
                                    <th>
                                        Payment Method
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Order
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Ship Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                       Sony Ear Phones with microphone
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        COD
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        Ear Phones
                                    </td>
                                    <td>
                                        Approved
                                    </td>
                                    <td>
                                        Dispatch
                                    </td>
                                </tr>
                                  <tr>
                                    <td>
                                        2
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                       Sony Ear Phones with microphone
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        COD
                                    </td>
                                    <td>
                                         01/04/2012
                                    </td>
                                    <td>
                                        Ear Phones
                                    </td>
                                    <td>
                                        Approved
                                    </td>
                                    <td>
                                        Dispatch
                                    </td>
                                </tr>
                                  <tr>
                                    <td>
                                        12
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                       Sony Ear Phones with microphone
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        Net Banking
                                    </td>
                                    <td>
                                       01/04/2012
                                    </td>
                                    <td>
                                        Ear Phones
                                    </td>
                                    <td>
                                        Approved
                                    </td>
                                    <td>
                                       Not Dispatch
                                    </td>
                                </tr>
                                  <tr>
                                    <td>
                                        11
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                       Sony Ear Phones with microphone
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                       Debit Card
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        Ear Phones
                                    </td>
                                    <td>
                                        Approved
                                    </td>
                                    <td>
                                        Dispatch
                                    </td>
                                </tr>   
                            </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-info">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" href="/#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                          Product #2
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        <table class="table" style="margin-bottom: 0px">
                            <thead>
                                <tr>
                                    <th>
                                        Order ID
                                    </th>
                                    <th>
                                        Channel
                                    </th>
                                    <th>
                                        Product Details
                                    </th>
                                    <th>
                                        Due On
                                    </th>
                                    <th>
                                        Payment Method
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Order
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Ship Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        5
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                         Sony Ear Phones with microphone
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        Debit Card
                                    </td>
                                    <td>
                                       01/04/2012
                                    </td>
                                    <td>
                                        Ear Phones
                                    </td>
                                    <td>
                                        Approved
                                    </td>
                                    <td>
                                        Not Dispatch
                                    </td>
                                </tr>
                                  <tr>
                                    <td>
                                        6
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Sony Head Phones with microphone
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        COD
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        Ear Phones
                                    </td>
                                    <td>
                                        Approved
                                    </td>
                                    <td>
                                        Dispatch
                                    </td>
                                </tr>
                                  <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Sony Ear Phones with microphone
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        Credit Card
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        Ear Phones
                                    </td>
                                    <td>
                                        Approved
                                    </td>
                                    <td>
                                        Dispatch
                                    </td>
                                </tr>
                                  <tr>
                                    <td>
                                       8
                                    </td>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Sony Ear Phones with microphone
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                       Net Banking
                                    </td>
                                    <td>
                                       01/04/2012
                                    </td>
                                    <td>
                                        Ear Phones
                                    </td>
                                    <td>
                                        Approved
                                    </td>
                                    <td>
                                       Not Dispatch
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>