<div ng-init="panel={};panel.close=1;panel.body=1" ng-show="panel.close" class="panel panel-info" ng-model="widgetList" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}},placeholder:true}">
    <div class="panel-heading">
        <span class="panel-title">
            Returns And Replacements
        </span>
        <div class="btn-group pull-right widget-header-action">
            <button class="btn btn-default" type="button" ng-click="panel.body=!panel.body">
                <em ng-if="!panel.body" class="glyphicon glyphicon-chevron-down"></em> 
                <em ng-if="panel.body" class="glyphicon glyphicon-chevron-up"></em> 
            </button> 


            <button class="btn btn-default" type="button" ng-click="getOrders();"><em class="glyphicon glyphicon-pushpin"></em> </button> 
            <button type="button" class="btn btn-default" ng-click="main.dashboard='rep'"><em class="glyphicon glyphicon-zoom-in"></em></a>
            <button class="btn btn-default" type="button" ng-click="panel.close=0;"><em class="glyphicon glyphicon-remove"></em> </button>


        </div>
    </div>
    <div class="panel-body" ng-if="panel.body">
        <div class="list-group">
            <a href=""  class="list-group-item" ng-click="main.dashboard='rep'"><span class="badge">12</span>Disputed Case</a>
            <a href=""  class="list-group-item" ng-click="main.dashboard='rep'"><span class="badge">7</span>Received Return</a>
            <a href=""  class="list-group-item" ng-click="main.dashboard='rep'"><span class="badge">107</span>Received Replacement Orders</a>
        </div>
    </div>
</div>
