<div class="col-md-12 column">
    <div class="alert alert-info" style="padding: 5px;">
        <div class="btn-group" style="margin-right: 10px;">
            <span class="btn btn-info"><strong>Revenue: </strong></span> 
            <span class="btn btn-default">Rs. 245788</span>
        </div>
        <div class="btn-group" style="margin-right: 10px;">
            <button class="btn btn-info"><strong>Profit: </strong></button> 
            <button class="btn btn-default">Rs. 12000</button>
        </div>
        <div class="btn-group" style="margin-right: 10px;">
            <button class="btn btn-info"><strong>Profit (%): </strong></button> 
            <button class="btn btn-default">5.3</button>
        </div>
        <div class="btn-group">
            <button class="btn btn-info"><strong>Total Order: </strong></button> 
            <button class="btn btn-default">Rs. 32678</button>
        </div>
        
        
        <div class="btn-group pull-right channel-indicator">
            <a class="btn btn-transparent">
                <img src="../../images/snapdeal-16x16.png">
                <span class="glyphicon glyphicon-heart success">&nbsp;</span>
            </a>
            <a class="btn btn-transparent">
                <img src="../../images/flipkart-16x16.png">
                <span class="glyphicon glyphicon-flash error">&nbsp;</span>
            </a> 
            <a class="btn btn-transparent">
                <img src="../../images/amazon-16x16.png">
                <span class="glyphicon glyphicon-flash error">&nbsp;</span>
            </a>
        </div>
    </div>
</div>
