<form id="other-setting-form" role="loginform" data-toggle="validator">
	<div class="form-group">
		<label for="fname">Firstname</label>
		<label for="" style="color:red;">*</label>
		<input type="text" class="form-control" value="{{settingDetail.other.fname}}" name="fname" id="fname" placeholder="Enter first name" >
	</div>
	<div class="form-group">
		<label for="lname">Lastname</label>
		<label for="" style="color:red;">*</label>
		<input type="text" class="form-control" name="lname" value="{{settingDetail.other.lname}}" id="lname" placeholder="Enter last name" >
	</div>
	<div class="form-group">
		<label for="email">Enter Email</label>
		<label for="" style="color:red;">*</label>
		<input type="email" class="form-control" name="email" value="{{settingDetail.other.email}}" id="email" placeholder="Enter email" >
	</div>         
</form>