<form id="tally-setting-form" role="loginform" data-toggle="validator">
	<div class="form-group">
		<label for="URL">URL</label>
		<label for="" style="color:red;">*</label>
		<input type="text" class="form-control" value="{{settingDetail.TALLY.URL}}" name="URL" id="URL" placeholder="Enter URL" >
	</div>
	<div class="form-group">
		<label for="CompanyName">Company Name</label>
		<label for="" style="color:red;">*</label>
		<input type="text" class="form-control" value="{{settingDetail.TALLY.CompanyName}}" id="CompanyName" name="CompanyName" placeholder="Enter CompanyName" >
	</div>
</form>